# Regiment

### Introduction:

Special thanks to: http://chrisalbon.com/ for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Create the DataFrame with the following values:

In [3]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}
 regiment = pd.DataFrame(raw_data)

   company      name  postTestScore  preTestScore    regiment
0      1st    Miller             25             4  Nighthawks
1      1st  Jacobson             94            24  Nighthawks
2      2nd       Ali             57            31  Nighthawks
3      2nd    Milner             62             2  Nighthawks
4      1st     Cooze             70             3    Dragoons
5      1st     Jacon             25             4    Dragoons
6      2nd    Ryaner             94            24    Dragoons
7      2nd      Sone             57            31    Dragoons
8      1st     Sloan             62             2      Scouts
9      1st     Piger             70             3      Scouts
10     2nd     Riani             62             2      Scouts
11     2nd       Ali             70             3      Scouts

### Step 3. Assign it to a variable called regiment.
#### Don't forget to name each column

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

### Step 5. Present general statistics by company

### Step 6. What is the mean each company's preTestScore?

### Step 7. Present the mean preTestScores grouped by regiment and company

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

### Step 9. Group the entire dataframe by regiment and company

### Step 10. What is the number of observations in each regiment and company

### Step 11. Iterate over a group and print the name and the whole data from the regiment