# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [8]:
names = pd.read_csv("US_Baby_Names_right.csv")

### Step 4. See the first 10 entries

In [9]:
names[:10]

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [10]:
del names['Unnamed: 0', 'id']

KeyError: ('Unnamed: 0', 'id')

### Step 6. Is there more male or female names in the dataset?

### Step 7. Group the dataset by name and assign to names

### Step 8. How many different names exist in the dataset?

### Step 9. What is the name with most occurrences?

### Step 10. How many different names have the least occurrences?

### Step 11. What is the median name occurrence?

### Step 12. What is the standard deviation of names?

### Step 13. Get a summary with the mean, min, max, std and quartiles.